# Create a Class for Person with attribute id and name

In [30]:
class Person:
    def __init__(self, id, name):
        self.id=id
        self.name=name
    def display(self):
        print("Person id", self.id, "Person Name", self.name)

In [31]:
p1=Person(100,"Majer")
p2=Person(102,"Aamina")

In [36]:
p1.display()
p2.display()

Person id 100 Person Name Majer
Person id 102 Person Name Aamina

# Display employee name, id and designation using class

In [54]:
class employee:
    def __init__(self, emp_id, emp_name, emp_designation):
        self.id=emp_id
        self.name=emp_name
        self.role=emp_designation
        
    def display(self):
        print("Emp ID:", self.id, "\nName:", self.name, "\nDesignation:", self.role)

In [55]:
n=employee(1,"Michael", "Manager")
n1=employee(2, "Jake", "Director")

In [56]:
n.display()

Emp ID: 1
Name: Michael
Designation: Manager

In [57]:
n1.display()

Emp ID: 2
Name: Jake
Designation: Director

# Display student name and age using class

In [96]:
class student:
    
    def __init__(self, name, age):
        self.name=name
        self.age=age

In [100]:
p3=student("Sana", 23)
print(p3.name)
print(p3.age)

Sana
23

# Display employee id, age and salary using class

In [101]:
class workers:
    def __init__(self, name, id, age, salary):
        self.name=name
        self.id=id
        self.age=age
        self.salary=salary

In [102]:
h=workers("Amy", 10, 23, 27000)
print(h.name)

Amy

In [103]:
print(h.name)
print(h.id)
print(h.age)
print(h.salary)

Amy
10
23
27000

# Display the car company name and the color using class and global function

In [108]:
class company:
    revenue=80000000
    def __init__(self, name, location, number_of_employee):
        self.name=name,
        self.location=location
        self.no_emp=number_of_employee
    def display(self):
        print("Show the employees details")
        print("---------------------------")
        print("Employee name:", self.name, "\nLocation:", self.location, "\nNumber of Employees:", self.no_emp)

In [109]:
emp=company("Jeff", "Bangalore", 100)
emp.display()

Show the employees details
---------------------------
Employee name: ('Jeff',)
Location: Bangalore
Number of Employees: 100

In [110]:
company.revenue

80000000

In [122]:
class car:
    def __init__(self, company, color):
        self.company=company
        self.color=color
        
    def display(self):
        print("Company Name is:", self.company, "\nColor is:", self.color)
        print("This is", self.color, self.company)

In [123]:
def main():
    c=car("Ferari", "White")
    c.display()

In [124]:
if __name__=="__main__":
    main()

Company Name is: Ferari
Color is: White
This is White Ferari

# Display employee name age using class and getmethod

In [126]:
class employee:
    def __init__(self, name, age):
        print("Initialization Method")
        self.name=name
        self.age=age
    def getdata(self, name, age):
        print("Getdata Method")
        self.name=name
        self.age=age
        
    def display(self):
        print("Hello", self.name, self.age)

In [132]:
def main():
    e=employee("Jammy", 23)
    e.display()
    
    e.getdata("Eric", 30)
    e.display()

In [133]:
if __name__=="__main__":
    main()

Initialization Method
Hello Jammy 23
Getdata Method
Hello Eric 30

# Display sport player name, age, sport using class and getmethod

In [141]:
class player:
    def __init__(self, name, age, sport):
        self.name=name
        self.age=age
        self.sport=sport
    def getdata(self, name, age, sport):
        self.name=name
        self.age=age
        self.sport=sport
    def display(self):
        print("Hello!!", self.name, self.age, self.sport)
def main():
    s=player("Virat", 30, "Cricket") #Initialization will work
    s.display()
        
    s.getdata("Sana", 28, "Tennis")  #Getdata will work
    s.display()
if __name__=="__main__":
    main()

Hello!! Virat 30 Cricket
Hello!! Sana 28 Tennis