# Referential Integrity

In [1]:
import sqlite3

In [2]:
db=sqlite3.connect("students_courses_database.db")

In [4]:
cur=db.cursor()

# Create Course table

In [5]:
cur.execute("create table courses(courseid int primary key, coursename, coursemonth)")

# Insert Value into Course table

In [7]:
cur.execute("insert into courses values(101, 'Datascience', 11), (78, 'Database', 5), (56, 'Machine Learning', 7)")

In [8]:
results=cur.execute("select * from courses")

In [9]:
results.fetchall()

[(101, 'Datascience', 11), (78, 'Database', 5), (56, 'Machine Learning', 7)]

# Create Student table

In [16]:
cur.execute("create table student1(id int primary key, name text, age int, courseid int, foreign key(courseid) references courses(courseid))")

# Insert value in student table

In [17]:
cur.execute("insert into student1 values(10, 'Lilly', 22, 101), (11, 'Mike', 23, 56), (12, 'James', 24, 101)")

In [18]:
results=cur.execute("select * from student1")
results.fetchall()

[(10, 'Lilly', 22, 101), (11, 'Mike', 23, 56), (12, 'James', 24, 101)]

In [29]:
results=cur.execute("select id, name from student1 where courseid=101")
results.fetchall()

[(10, 'Lilly'), (12, 'James')]

In [34]:
results=cur.execute("select id, name from student1 where courseid=(select courseid from courses where coursename='Datascience')")
results.fetchall()

[(10, 'Lilly'), (12, 'James')]

# Creating Subquery

In [25]:
results=cur.execute("select * from student1 where courseid=(select courseid from courses where coursename='Datascience')")

In [26]:
results.fetchall()

[(10, 'Lilly', 22, 101), (12, 'James', 24, 101)]