# Using Slash \

In [1]:
print('"It isn\'t", she said')

"It isn't", she said

# New Line

In [9]:
print("I am Ram. \nI am shaym. \nI am Rahul.")

I am Ram.
I am shaym.
I am Rahul.

# Concatenated

In [3]:
print(5* 'I am the best\n' + 'Everborn on the planet')

I am the best
I am the best
I am the best
I am the best
I am the best
Everborn on the planet

# Multipe String in One

In [4]:
print('If we unitedly work together.\n'
     'We can succeed in any war.\n'
     'United is power')

If we unitedly work together.
We can succeed in any war.
United is power

# Concatenate with the first variable

In [5]:
text="You are the best"
text + ' Literature' ' You rock it'

'You are the best Literature You rock it'

# Slicing

In [6]:
word = 'Python'
word[:2]+word[2:]

'Python'

In [13]:
text='Inspiration'
text[:3]+text[5:]

'Insration'

In [14]:
text[:]

'Inspiration'

In [21]:
text[0] #Index

'I'

In [34]:
n=text+'Stories'
n

'InspirationStories'

# Fibonacci Series

In [11]:
n=int(input("Enter the number :"))
n1,n2=0,1
i=0
while(i<n): # Exit condition
      print(n1)
      sum = n1 + n2 #Logic for the fibonacci series
      n1 = n2
      n2 = sum
      i += 1

Enter the number :10
0
1
1
2
3
5
8
13
21
34

# List

# List Is Mutable

In [35]:
Numbers=[3,9,10,56,23]
Numbers

[3, 9, 10, 56, 23]

In [38]:
# Replace the number 3 with 4
Numbers[0]=4

In [49]:
Numbers

[4, 9, 10, 56, 23]

# Tuple

In [50]:
# Tuple is immutable

num=(30,78,79,67)

In [45]:
num

(30, 78, 79, 67)

In [46]:
num[0]

30

In [48]:
num[3]=76

TypeError: 'tuple' object does not support item assignment